---
import '../styles/global.css';
---

<div class="hidden md:flex justify-around items-center bg-terra-cotta p-3">
  <p><a href="/" class=" text-sweet-cream">About Me</a></p>
  <p><a href="/Project" class=" text-sweet-cream">Projects</a></p>
  <h1
    class="bg-sweet-cream h-[60px] w-[250px] rounded-[50%] flex items-center justify-center text-xl"
  >
    Madison Nowosielski
  </h1>
  <p><a href="/Resume" class=" text-sweet-cream">Resume</a></p>
  <p><a href="/Github" class=" text-sweet-cream ">Github</a></p>
</div>

<div class="block md:hidden">
  <div class="bg-terra-cotta flex justify-center items-center p-2">
      <h1
        class="bg-sweet-cream h-[60px] w-[250px] rounded-[50%] flex items-center justify-center text-xl"
      >
        Madison Nowosielski
      </h1>
  </div>
  <div class="flex justify-around items-center bg-sweet-cream p-2">
    <p><a href="/" class="links">About Me</a></p>
    <p><a href="/Project" class="links">Projects</a></p>

    <p><a href="/Blog" class="links">Blog</a></p>
    <p><a href="/Github" class="links">Github</a></p>
  </div>
</div>

<style>
  @font-face {
    font-family: "cute";
    src: url("/src/assets/Savate/Savate-VariableFont_wght.ttf")
      format("truetype");
  }

  body {
    font-family: "cute";
  }

  .links:visited {
    color: black;
  }
  .links:hover {
    color: #A75C3A;
    background-color: #f0f6ee;
    border-radius: 5px;
  }
  body {
    background-size: 20px 20px; /* Size of the grid cells */
    /* background-image:
      linear-gradient(to right, #FAF4E7 1px, transparent 1px),
        linear-gradient(to bottom, #FAF4E7  1px, transparent 1px); Horizontal lines */
  }
</style>
