---
export function getStaticPaths() {
  return [
    { params: { project: "craft-tracker" } },
    { params: { project: "memory-game" } },
    { params: { project: "stardew-guide" } },
    { params: { project: "mock-blog" } },
    { params: { project: "to-do" } },
    { params: { project: "etch-a-sketch" } },
    { params: { project: "weather-app" } },
    { params: { project: "shopping-cart" } },
    { params: { project: "resume-builder" } },
    { params: { project: "rock-paper-scissors" } },
  ];
}

const { project } = Astro.params;
---

<div>Good dog, {project}!</div>
