@import "tailwindcss";

@theme {
    --color-green: #9cac96;
    --color-green-light: #f0f6ee;
    --color-green-medium: #d3e3d0;
    --color-lilac: #edbee4;
    --color-sweet-cream: #FAF4E9;
    --color-pale-pink: #FDF9F2;
    --color-terra-cotta: #A75C3A;
    --color-salmon: #ED9B83;
    --color-sky-blue: #89ACEA;
    --color-baby-blue: #D1DEF5;
    --color-olive: #7D781A;
    --color-tan: #B3927C
}
