---
import HeaderLayout from '../layouts/Header.astro';
---
<HeaderLayout title="About Me">
  <!-- header -->
</HeaderLayout>
<div>
  Portfolio page
</div>

<style>
  body {
    margin: 0;
  }
</style>