---
import HeaderLayout from "../layouts/Header.astro";
import "../styles/global.css";
import { projects } from "./Data/projects";
---

<HeaderLayout title="About Me">
  <!-- header -->
</HeaderLayout>

<div class="grid grid-cols-1 gap-9 m-10 xl:grid-cols-3 md:grid-cols-2">
  {
    projects.map((p) => (
      <a href={`/Project/${p.link}`} class="links">
        <div
          class="group relative flex justify-center items-center bg-cover bg-center h-80 rounded-xl shadow-md hover:scale-105 transition-transform duration-400 ease-in-out"
          style={`background-image: url(${p.image.src});`}
        >
          <div class="absolute inset-0 bg-white/60 rounded-xl transition-colors duration-500 ease-in-out group-hover:bg-transparent" />
          <div class="relative z-10 my-7 p-4 rounded">
            <p class="font-semibold group-hover:text-transparent transition-colors duration-500">
              {p.title}
            </p>
          </div>
        </div>
      </a>
    ))
  }
</div>
