---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="header">
  <p><a href="/About">About Me</a></p>
  <p>Portfolio</p>
  <h1 class="header_name">Maddie Nowosielski</h1>
  <p>Blog</p>
  <p>Github</p>
</div>

<style>
  @font-face {
    font-family: "cute";
    src: url("/src/assets/Savate/Savate-VariableFont_wght.ttf") format("truetype");
  }
  #header {
    font-family: "cute";
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f6ee;
  }
  .header_name {
    background-color: #d3e3d0;
    height: 70px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }


  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }




  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #links {
      flex-wrap: wrap;
    }

    #links a.button {
      padding: 14px 18px;
    }

    #news {
      right: 16px;
      left: 16px;
      bottom: 2.5rem;
      max-width: 100%;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
