---
import HeaderLayout from "../layouts/Header.astro";
import "../styles/global.css";
import CarouselComponent from "../components/React Components/carousel.jsx";
import MantineWrapper from "../components/React Components/MantineWrapper";

const aboutMe = [
  {
    title: "My Background",
    content:
      "I graduated from The University of Cincinnati in 2023 with a major in Fashion Design and Minor in Marketing. During my last year in school I came to the realization that the path I had chosen was one I not longer saw for myself. Once graduated, I took time to reflect on the future I wanted for myself and decided I wanted to pursue programming.",
  },
  {
    title: "Why Front-End Development?",
    content:
      "After experimenting with both front-end and back-end programming, I decided to pursue front-end development. I found that front-end programming gave me the aspects of fashion design I really enjoyed - creating practical and aesthetic solutions, while also providing what fashion design lacked — advanced problem-solving and real-world application challenges. ",
  },
  {
    title: "My Journey",
    content:
      "After researching all my options, I found that The Odin Project was the best resource to get me started. I completed their beginner course and most of their JavaScript course. Along the way, I learned the basics - starting simple using the command line to writing my first <div> tags - and progressed to building full applications complete with APIs and databases. I was also lucky to have a mentor help me throughout my journey and the knowledge I received is invaluable.",
  },
  {
    title: "What's Next?",
    content:
      "I want to be apart of a front-end development team working on projects",
  },
];
---

<div>
  <HeaderLayout title="About Me">
    <!-- header -->
  </HeaderLayout>
  <div class="flex flex-col justify-center items-center w-full">
    <CarouselComponent client:only />
    {
      aboutMe.map((p) => (
        <div class=" flex flex-col justify-center items-center bg-gray-100 m-5 shadow-md rounded-lg p-5 max-w-3/5">
          <h2 class="font-semibold text-green text-xl mb-5">{p.title}</h2>
          <p class="text-base">{p.content}</p>
        </div>
      ))
    }
  </div>

  <style>
    @font-face {
      font-family: "cute";
      src: url("/src/assets/Savate/Savate-VariableFont_wght.ttf")
        format("truetype");
    }
    #header {
      font-family: "cute";
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f0f6ee;
    }
    .header_name {
      background-color: #d3e3d0;
      height: 70px;
      width: 300px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    main {
      height: 100%;
      display: flex;
      justify-content: center;
    }

    h1 {
      font-size: 22px;
      margin-top: 0.25em;
    }

    @media screen and (max-height: 368px) {
      #news {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      #container {
        display: flex;
        flex-direction: column;
      }

      #hero {
        display: block;
        padding-top: 10%;
      }

      #links {
        flex-wrap: wrap;
      }

      #links a.button {
        padding: 14px 18px;
      }

      #news {
        right: 16px;
        left: 16px;
        bottom: 2.5rem;
        max-width: 100%;
      }

      h1 {
        line-height: 1.5;
      }
    }
  </style>
</div>
