---
import "../styles/global.css";
import HeaderLayout from "../layouts/Header.astro";
import { Image } from "astro:assets";
import aboutMeImage from "../components/images/homePage.png";
import "../styles/global.css";

const aboutMe = [
  {
    title: "Why Front-End Development?",
    content:
      "After experimenting with both front-end and back-end programming, I decided to pursue front-end development. I found that front-end programming gave me the aspects of fashion design I really enjoyed - creating practical and aesthetic solutions, while also providing what fashion design lacked — advanced problem-solving and real-world application challenges. ",
  },
  {
    title: "My Journey",
    content:
      "I found that The Odin Project was the best resource to get me started. I completed their beginner course and most of their JavaScript course. Along the way, I learned the basics - starting simple using the command line to writing my first <div> tags - and progressed to building full applications complete with APIs and databases. I was also lucky to have a mentor help me throughout my journey and the knowledge I received is invaluable.",
  },
  {
    title: "What's Next?",
    content:
      "I want to be apart of a front-end development team working on projects",
  },
];
---

<HeaderLayout title="About Me">
  <!-- header -->
</HeaderLayout>
<div class="flex flex-col justify-center items-center
 mh-full scroll-link">
  <div class="flex flex-col w-full md:flex-row">
    <div class="flex justify-center items-center py-10 md:w-1/2">
      <Image
        src={aboutMeImage}
        class="w-sm h-auto border-2 border-terra-cotta rounded-2xl"
        alt="A photo of me in front of Lake Michigan"
      />
    </div>

    <div
      class="p-5 flex flex-col justify-center items-center bg-sweet-cream border-s-2 border-terra-cotta md:w-1/2 md:mt-0"
    >
    <div class="px-5 max-w-xl">
      <h1 class="text-2xl font-bold text-left w-full">Hi! My name is Madison</h1>
      <div class="justify-center items-center text-left w-full">
        <div class="flex my-7 text-sm/8">
          I am a graduate of The University Of Cincinnati where I majored in
          Fashion Design and minored in Marketing. During my final year at
          school, I realized I craved more problem solving and functional
          applications in my work then fashion design was able to give me. After
          exploring programming, I quickly fell in love with the process and
          thinking required and have been learning ever since!
        </div>
      </div>
    </div>

    </div>
  </div>
  <div class="checkerboard-gradient w-full"></div>

  <div class="flex flex-col justify-center items-center w-full pt-5 ">
    {
      aboutMe.map((p) => (
        <div class="bg-sweet-cream rounded-lg p-8 m-5 min-w-md max-w-2xl ">
            <h2 class="font-semibold text-terra-cotta text-lg md:mb-3">
              {p.title}
            </h2>
            <div class="border-1 border-terra-cotta w-full"></div>
            <p class="flex text-sm/8 px-4 mt-3">{p.content}</p>
        </div>
      ))
    }
  </div>
</div>

<style>
  .checkerboard-gradient {
    background-color: #ed9b83; /* Light color for the base */
    background-image: linear-gradient(45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(-45deg, #a75c3a 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #a75c3a 75%),
      linear-gradient(-45deg, transparent 75%, #a75c3a 75%);
    background-size: 50px 50px; /* Size of each square in the pattern */
    background-position:
      0 0,
      0 25px,
      25px -25px,
      25px 0; /* Adjust positions for alignment */
    height: 75px;
  }
</style>
