---
import "../styles/global.css";
---

<div class="hidden md:flex justify-around items-center bg-green-light p-2">
  <p><a href="/About" class="links">About Me</a></p>
  <p><a href="/Project" class="links">Projects</a></p>
  <a href="/">
  <h1
    class="bg-green-medium h-[70px] w-[300px] rounded-[50%] flex items-center justify-center text-2xl"
  >
    Maddie Nowosielski
  </h1>
  </a>
  <p><a href="/Resume" class="links">Resume</a></p>
  <p><a href="/Github" class="links">Github</a></p>
</div>

<div class="block md:hidden">
  <div class="bg-green-light flex justify-center items-center p-2">
    <a href="/" class="block">
      <h1
        class="bg-green-medium h-[70px] w-[300px] rounded-[50%] flex items-center justify-center text-2xl"
      >
        Maddie Nowosielski
      </h1>
    </a>
  </div>
  <div class="flex justify-around items-center bg-green-medium p-2">
    <p><a href="/About" class="links">About Me</a></p>
    <p><a href="/Project" class="links">Projects</a></p>

    <p><a href="/Blog" class="links">Blog</a></p>
    <p><a href="/Github" class="links">Github</a></p>
  </div>
</div>

<style>
  @font-face {
    font-family: "cute";
    src: url("/src/assets/Savate/Savate-VariableFont_wght.ttf")
      format("truetype");
  }

  body {
    font-family: "cute";
  }
  .links {
    text-decoration: none;
    color: black;
  }

  .links:visited {
    color: black;
  }
  .links:hover {
    color: #899487;
    background-color: #f0f6ee;
    border-radius: 5px;
  }
  body {
    background-size: 20px 20px; /* Size of the grid cells */
    background-image:
      linear-gradient(to right, rgb(231, 231, 231) 1px, transparent 1px),
      /* Vertical lines */
        linear-gradient(to bottom, rgb(231, 231, 231) 1px, transparent 1px); /* Horizontal lines */
  }
</style>
